node_modules
.svn
docker/wp
GITHUB_TOKEN
wpcs
trunk
update

# Ignore OS X .DS_Store files
.DS_Store
/vendor/
.env

!/wpcs/**/*
!/wpcs/vendor/**/*
/wpcs/**/.DS_Store

# Remove files that are generated during deploy

## CSS

## JS
build/**/*.min.js
build/**/*.bundle.js
